parameters:
    paths:
        - src/
    level: 6
    tmpDir: /tmp/phpstan
    ignoreErrors:
      - identifier: missingType.iterableValue
      - identifier: missingType.generics
      - identifier: trait.unused
      - identifier: method.alreadyNarrowedType
      - identifier: method.notFound
      - identifier: return.type
      - identifier: staticMethod.notFound
      - identifier: argument.templateType
      - identifier: staticProperty.notFound
